.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  padding: 20px;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: clamp(20px, 5vw, 40px);
  gap: clamp(10px, 3vw, 20px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.welcome-title {
  font-size: clamp(32px, 4vw, 56px);
  font-weight: 700;
  margin-bottom: 10px;
}

.welcome-text {
  font-size: clamp(18px, 3vw, 36px);
  font-weight: 400;
  margin-bottom: 10px;
}

.welcome-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcome-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: clamp(40px, 6vw, 60px);
  background: linear-gradient(to right, #02feff, #4634c0, #02feff);
  background-size: 200% 100%;
  color: #fff;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-position 0.5s ease-in-out;
}

.welcome-button:hover {
  background-position: -105% 0;
}