.users-form {
  display: grid;
  max-width: 700px;
  grid-template-areas:
    "name email"
    "password role"
    "button button";
  gap: 20px 10px;
  grid-template-columns: 1fr 1fr;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.role {
  grid-area: role;
}

.password {
  grid-area: password;
}

.confirm-password {
  grid-area: confirm-password;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.button-add-user {
  grid-area: button;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.button-add-user button {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  padding: 10px 40px;
  gap: 10px;
  background: linear-gradient(to right, #02feff, #4634c0, #02feff);
  background-size: 200% 100%;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transition: background-position 0.5s ease-in-out;
  cursor: pointer;
}

.button-add-user button:hover {
  background-position: 100% 0;
  transition: background-position 0.5s ease-in-out;
}

.add-icon {
  width: 30px;
  height: 30px;
}

.show-password-checkbox {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre checkbox y texto */
  margin-top: 8px;
  font-size: 14px;
}

.show-password-checkbox input[type="checkbox"] {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.show-password-checkbox label {
  cursor: pointer;
  user-select: none;
}
