.users-container {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
  padding: 10px 20px;
}

.users-content {
  display: flex;
  flex-direction: column;
  min-width: calc(100% - 350px);
  max-width: calc(100% - 280px);
  width: 80%;
}

.users-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
}

/*--- Responsive Design (Mobile) ⬇️ ---*/
@media (max-width: 768px) {
  .users-content {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
